<html>
    <head>  
        <script type = "text/javascript" 
            src="{{url_for('static', filename='helper_functions.js')}}"></script> 

        <title>SDSP Gateway - Admin Console</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- <style>table, tr, td{border: 1px solid black;}</style> -->
        
    </head>

    <body> 
        <div>
            <a href="{{ url_for('index')}}">
                <h4>Index</h4>
            </a>
        </div>    
        <div>
            
            <h1>Registered SDSPs</h1>
            <table>
                <tr>
                    <th>SDSP Name</th>
                    <th>Version</th>
                    <th>IP Address</th>
                    <th>Domain Name</th>
                    <th>Delete</th>
                    <th>Status</th>
                    <th>Change Status</th>

                </tr>
                {% for tuple in sdsps %}
                    <tr>
                        <td>{{ tuple[1] }}</td>
                        <td>{{ tuple[2] }}</td>
                        <td>{{ tuple[3] }}</td>
                        <td>{{ tuple[4] }}</td>
                        <td>
                            <a href="{{ url_for('deregisterSDSP', sdspID=tuple[0]) }}" onClick="return confirm('Are you sure you want to delete this sdsp?')">Delete</a>
                        </td>
                        <td>{{ tuple[6] }}</td>
                        <td>
                            <a id="togg"  href="{{ url_for('statusSDSP', sdspID=tuple[0]) }}">ON/OFF</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
            
        <div>
            <a href="{{ url_for('registerSDSP')}}">
                <h4>Click here to register a new SDSP</h4>
            </a>
        </div>

        {% if permRequests|length > 0 %}
            <div>
                <h1>Apps with Permission Requests</h1>
                <table>
                    <tr>
                        <th>App Name</th>
                        <th>Version</th>
                        <th>Address</th>
                    </tr>
                    {% for tuple in permRequests %}
                        <tr>
                            <td>{{ tuple[1] }}</td>
                            <td>{{ tuple[2] }}</td>
                            <td>
                                <a href="{{ url_for('appPermissionRequests', permReqID=tuple[0]) }}">{{ 'Address Request' }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        
        {% if appPerms| length > 0%}
            <div>
                <h1>Registered App Permissions</h1>
                <form class="form-inline" method="POST" action="{{ url_for('removeAppPermissions') }}">
                    <div class="form-group">
                      <div class="input-group">
                          <!-- <span class="input-group-addon">Modify App Permissions: </span> -->
                            <!-- <button type="submit" class="btn btn-default">Remove Permissions</button> -->
                      </div>
                    </div>
                </form>
                <table>
                    <tr>
                        <th>App Name</th>
                        <th>App Version</th>
                        <th>App Owner</th>
                        <th>SDSP Name</th>
                        <th>SDSP Version</th>
                        <th>Allowed Methods</th> 
                        <th>Date Granted</th>
                        <th>Revoke</th>
                    </tr>
                    {% for tuple in appPerms %}
                        <tr>
                            <td>{{ tuple[1] }}</td>
                            <td>{{ tuple[2] }}</td>
                            <td>{{ tuple[3] }}</td>
                            <td>{{ tuple[4] }}</td>
                            <td>{{ tuple[5] }}</td>
                            <td>{{ tuple[6] }}</td>
                            <td>{{ tuple[7] }}</td>
                            <td>
                                <a href="{{ url_for('revokeAppPermission', permID=tuple[0]) }}" onClick="return confirm('Are you sure you want to revoke this app permission?')">Revoke</a>  
                            </td>
                        </tr>
                    {% endfor %}
                </table> 
            </div>
        {% endif %}

    </body>
</html>